
/* --------------------------------------------------------------------------
NOTE and a WARNING: Mobile-based CSS changes are additionally handled
by handleDisplayOrientationChanges within App.tsx.

It is quite important that you keep that in mind because you may find that
"some things just aren't co-operating" or "why in the hell does this change not
remain when on mobile", and that's probably why.

Just check that if that method isn't changing anything if you've any bizarreness
-------------------------------------------------------------------------- */

/* This sets the width and height of the main app, aka the RSS feed viewer and stuff, 
and it makes sure that content does not overflow. This is because any "overflowing" content would
be handled within the grids */
.main-app {
	/* overflow: hidden; */
	width: 100vw;
	height: 100vh;
}

.image-background {
	position: absolute;
	/* background-position: center; */
	/* background-repeat: no-repeat; */
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	/* Offset from left to account for nav */
	left: 9vh;
	width: Calc(95% - 9vh);
	height: 95%;
	/* Center the container */
	margin: auto;
	/* background-image: url("./game-ing.svg"); */
	/* Center the actual image within the container */
	/* background-position: center; */
	/* background-repeat: no-repeat; */
	/* See: https://stackoverflow.com/questions/58853844/the-opacity-value-was-changed-to-1-after-building-the-reacjs-project */
	opacity: 0.5;
}

.some-other-background {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: auto;
}

.overlay-debug {
	position: fixed;
	z-index: 9999;
	right: 0;
	bottom: 0;
	display: none;
	padding: 10px;
	background: var(--col-background-dark-lowop);
	color: white;
}

.overlay-debug-visible {
	display: block;
}

.grid-container {
	display: grid;
	/* This height is set here so that the inner grids scale to the VH and don't overflow */
	height: 100vh;
	/* background-color: var(--col-background); */
	/* The main grid container holds the nav and the feed container. */
	grid-template-columns: [nav] 1fr [feed-container] 19fr;
	/* ---------------------------------------------------------------------- */
	/* NOTE: handleDisplayOrientationChanges Mobile mode gets rid of the nav here and leaves just the feed-container */
	/* ---------------------------------------------------------------------- */
}
