



.login-stuff-container {
	display: flex;
	width: 50%;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
}

.bare-login-form {
	display: flex;
	flex-direction: column;
}

.temp-space-top {
	margin-top: 2em;
}

.already-logged-in-simple-center {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--col-background);
}