.mform-group {
	margin-bottom: 5%;
}

.form-button button {
	padding: 10px 120px 10px 130px;
	margin-top: 10px;
	background-color: #EA5B5E;
	color: white;
	text-align: center;
}

.form-button button:hover {
	color: white;
}


/* -------------------------------------------------------------------------- */
/* NOTE from a salty Adrian: DON'T MODIFY GLOBAL STYLES RANDOMLY, ESPECIALLY NOT IN *NESTED CSS FILES* */
/* -------------------------------------------------------------------------- */
/* form h5 {
	margin-bottom: 30px;
}

form {
	margin-top: -90px;
} */

.account {
	margin-top: 17px;
}

.banner {
	padding: none !important;
	margin: none !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto;
}

@media (min-width: 768px) {
	.h-md-100 {
		height: 90vh;
	}
}

.btn-round {
	border-radius: 30px;
}

.bg-indigo {
	background: indigo;
}

.text-cyan {
	color: #35bdff;
}


.footer-container {
	bottom: 0;
	left: 0;
	width: 100%; 
	background-color: #1C0E4D;
	color: white;
	text-align: center; 
	
}

.footer-container a {
	color: white;
}
