
.admin-grid-inner-container {
	display: grid;
	height: auto;
	/* Make sure this height is always 100vh so that it spans the entire screen vertically*/
	height: 100vh;
	/* This spaces the container from the left so that the first grid is spaced from the nav */
	margin-left: 20px;
	/* This becomes the feed container, which is the actual element that holds
	the feeds */
	grid-area: feed-container;
	/* Force overflowing grid elements to remain as columns.
	Need to re-apply the size here */
	grid-auto-columns: 450px;
	grid-auto-flow: column;
	grid-gap: 20px;
	/* This essentially allows us to have a dynamic amount of feeds,
	width them all being 450px width */
	grid-template-columns: repeat(auto-fill, 450px);
	/* This allows scrolling */
	overflow-y: scroll;
}

.admin-grid-inner {
	/* Reduce the height so there's some space between top/bottom, and center vertically */
	height: 96%;
	margin-top: auto;
	margin-bottom: auto;
	background-color: var(--col-background-dark);
	color: var(--col-font-dark);
	overflow-wrap: break-word;
	/* Make each grid have a scroll bar instead of making the whole page long */
	overflow-y: scroll;
	text-align: center;
}

.admin-grid-inner > .top-bar {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	background-color: var(--col-background);
}

.admin-grid-inner > .top-bar p {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* This overrides some things from .admin-button, it's used both for the buttons in grid1 and the containers in grid2 */
.admin-grid-item {
	width: 80%;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 16px;
	margin-left: 0;
	margin-left: auto;
	background-color: var(--col-background-dimmed);
	border-radius: 4px;
}


.simple-vertical-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}