
/* -------------------------------------------------------------------------- */
/* Profile page container */
/* -------------------------------------------------------------------------- */
.profile-wrapper {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas: "left-container right-container"
	"left-container right-container";
}

/* -------------------------------------------------------------------------- */
/* I'm aware this button keeps the styles of the default button, with the background colour change
and so on, but I didn't want to make a blue variant of the arrow so that's that */
/* -------------------------------------------------------------------------- */
.back-button {
	display: block;
	width: 50px;
	height: 50px;
	margin-top: 10px;
	margin-left: 10px;
	background-image: url("../../assets/material-white/west.svg");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.back-button:hover {
	background-image: url("../../assets/material-black/west.svg");
}


/* -------------------------------------------------------------------------- */
/* SECTION Left Section */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* Left container which holds the pfp and is red */
/* -------------------------------------------------------------------------- */
.profile-left-container {
	position: relative;
	display: grid;
	height: 100vh;
	background-color: var(--col-accent-action);
	grid-area: left-container;
	grid-template-areas: "mid-content";

}

.profile-left-container > .top-bar-overlay {
	position: absolute;
	height: 10%;
	grid-area: top-bar;
}

.profile-left-container > .mid-content {
	grid-area: mid-content;
}



/* -------------------------------------------------------------------------- */
/* SECTION Profile picture */
/* -------------------------------------------------------------------------- */
/*
The wrapper takes up all width
It's done like this alongside with the pfp-container, as the
pfp-container contains both the image and the edit-image overlay
*/
.profile-left-container > .mid-content > .pfp-wrapper {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.profile-left-container > .mid-content > .pfp-wrapper > .pfp-container {
	position: relative;
}

.profile-left-container > .mid-content > .pfp-wrapper > .pfp-container > .pfp-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}

/* This is just an overlay image that's displayed when the user is in details edit mode */
.profile-left-container > .mid-content > .pfp-wrapper > .pfp-container > .pfp-image-editing-overlay {
	position: absolute;
	z-index: 1;
	/* opacity: 75%; */
	top: -10px;
	right: -10px;
	width: 50px;
	height: auto;
	/* This allows the bg image to be clicked */
	pointer-events: none;
}

/* This shows when the user is in editing mode */
.profile-left-container > .mid-content > .pfp-wrapper > .pfp-container > .pfp-image.editing {
	cursor: pointer;
}

.profile-left-container > .mid-content > .pfp-wrapper > .pfp-container > .pfp-image.editing:hover {
	opacity: 0.5;
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Right Section */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* Right container which will have the user's details and other stuff */
/* -------------------------------------------------------------------------- */
.profile-right-container {
	/* display: grid; */
	display: flex;
	height: 100vh;
	flex-direction: column;
	/* width: 100%; */
	background-color: var(--col-background);
	grid-area: right-container;
}

.profile-right-container > .top-bar {
	height: 80px;
}

.profile-right-container > .mid-content {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-right-container > .mid-content > .main-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.profile-details {
	font-size: 18pt;
}
/* -------------------------------------------------------------------------- */
/* SECTION Very hacky form */
/* -------------------------------------------------------------------------- */
.profile-right-container .change-password-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.profile-right-container .change-password-form .change-password-form-el > label {
	display: block;
}

.profile-right-container .change-password-form .change-password-form-el.buttons {
	align-self: center;
	margin-top: 20px;
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */

.profile-right-container > .mid-content > .pfp-edit {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.profile-right-container > .mid-content > .pfp-edit > p {
	color: yellow;
}

.profile-right-container > .mid-content > .pfp-edit > label {
	display: inline-block;
	padding: 6px 12px;
	border: 1px solid #ccc;
	cursor: pointer;
}

/* Hide the input for the pfp upload as it's handled with emualted "click"s */
.profile-right-container > .mid-content > .pfp-edit > input[type="file"] {
	display: none;
}

.profile-right-container > .mid-content > .edit-actions {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.profile-right-container > .bot-bar {
	height: 80px;
}

.profile-dropdown {
	border: 4px var(--col-accent-action) solid;
	margin-top: 10px;
	margin-left: 10px;
	background-color: var(--col-accent-action);
}

.profile-dropdown:hover {
	border: 4px var(--col-accent-action-hover) solid;
	background-color: var(--col-accent-action-hover);
}

.profile-dropdown-warning {
	background-color: var(--col-accent-extra);
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */

/* NOTE: this really is not a robust AR/width setting, but I'm no designer */
@media (max-width: 768px) and (max-aspect-ratio: 4/5) {

	.profile-wrapper {
		grid-template-areas: "left-container left-container"
		"right-container right-container";
	}

	.profile-left-container {
		height: 50vh;
	}

	.profile-right-container {
		height: 50vh;
	}
}