
/* See: https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	z-index: 99; /* Sit on top */
	top: 0;
	left: 0;
	display: block;
	overflow: auto; /* Enable scroll if needed */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	padding-top: 100px; /* Location of the box */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	width: 80%;
	padding: 20px;
	border: 1px solid #888;
	margin: auto;
	background-color: #fefefe;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	cursor: pointer;
	text-decoration: none;
  }