

/* The mobile nav is a bottom bar, fixed absolutely and overlaying */
.mobile-nav-container {
	position: absolute;
	z-index: 2;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 100px;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--col-main);
}

.mobile-nav-container .profile-picture {
	/* max-width: 100%; */
	width: 80px;
	height: auto;
	padding: 15px;
	/* margin-right: -10px; */
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
}

.mobile-nav-container .nav-icon-popup-container {
	position: relative;
}

.mobile-nav-container .nav-icon {
	/* display: inline-block; */
	width: 50px;
	height: 50px;
	margin: 20px;
	background-size: cover;
	cursor: pointer;
}

.mobile-nav-container .nav-icon.add-feed {
	background-image: url("../../assets/material-white/add.svg");
}

.mobile-nav-container .nav-icon.add-feed:hover {
	background-image: url("../../assets/material-redhover/add.svg");
}

.mobile-nav-container .nav-icon.notifications {
	background-image: url("../../assets/material-white/notif-icon.svg");
}

.mobile-nav-container .nav-icon.notifications:hover {
	background-image: url("../../assets/material-redhover/notif-icon.svg");
}

.mobile-nav-container .nav-icon.favourites {
	background-image: url("../../assets/material-white/star.svg");
}

.mobile-nav-container .nav-icon.favourites:hover {
	background-image: url("../../assets/material-redhover/star.svg");
}

.mobile-nav-container .nav-icon.bookmarks {
	background-image: url("../../assets/material-white/bookmark.svg");
}

.mobile-nav-container .nav-icon.bookmarks:hover {
	background-image: url("../../assets/material-redhover/bookmark.svg");
}

.mobile-nav-container .nav-icon.help {
	background-image: url("../../assets/material-white/help.svg");
}

.mobile-nav-container .nav-icon.help:hover {
	background-image: url("../../assets/material-redhover/help.svg");
}

.mobile-nav-container .nav-icon.logout {
	margin-bottom: 25px;
	background-image: url("../../assets/material-white/logout.svg");
}

.mobile-nav-container .nav-icon.logout:hover {
	background-image: url("../../assets/material-redhover/logout.svg");
}