
/* Main container for the favourites selector */
.favourites-selector {
	position: absolute;
	z-index: 1;
	left: 50px;
	width: 300px;
	min-height: 160px;
	max-height: 50vh;
	background-color: var(--col-background);
	cursor: default;
}

.favourites-selector-mobile {
	position: absolute;
	z-index: 1;
	top: 5vh;
	right: 0;
	left: 0;
	width: 80%;
	min-height: 160px;
	margin-right: auto;
	margin-left: auto;
	background-color: var(--col-background);
	cursor: default;
	/* text-align: center; */
}

/* Top bar with text */
.favourites-top-bar {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: center;
	background-color: var(--col-main);
	color: var(--col-font-light);
}

/* Centered "Favourites" text */
.favourites-top-bar .center-text {
	display: flex;
	/* Hacky: offset by the width of the right-close button + its margin-right */
	margin-right: -35px;
	margin-left: auto;
	justify-self: center;
}

/* Close button */
.favourites-top-bar .right-close {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	margin-left: auto;
	background-image: url("../../assets/material-white/exit-button.svg");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;	
}

.favourites-top-bar .right-close:hover {
	background-image: url("../../assets/material-redhover/exit-button.svg");
}

.favourites-selector .favourites-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* Give some padding so the top item has some breathing room */
	padding-top: 10px;
}

.favourites-selector-mobile .favourites-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* Give some padding so the top item has some breathing room */
	padding-top: 20px;
}

/* GIve the mobile list items some more padding and spacing */
.favourites-selector-mobile .favourites-list > * {
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
}
