.nav-container {
	display: flex;
	max-width: 100%;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--col-main);
	grid-area: nav;
}

.nav-container .top-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-container .bot-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-container .profile-picture {
	/* max-width: 100%; */
	width: 80px;
	height: auto;
	padding: 15px;
	border-radius: 50%;
	cursor: pointer;
	text-align: center;
}

.nav-container .nav-icon-popup-container {
	position: relative;
}

.nav-container .nav-icon {
	/* display: inline-block; */
	width: 50px;
	height: 50px;
	margin-top: 15px;
	background-size: cover;
	cursor: pointer;
}

.nav-container .nav-icon.add-feed {
	background-image: url("../../assets/material-white/add.svg");
}

.nav-container .nav-icon.add-feed:hover {
	background-image: url("../../assets/material-redhover/add.svg");
}

.nav-container .nav-icon.notifications {
	background-image: url("../../assets/material-white/notif-icon.svg");
}

.nav-container .nav-icon.notifications:hover {
	background-image: url("../../assets/material-redhover/notif-icon.svg");
}

.nav-container .nav-icon.favourites {
	background-image: url("../../assets/material-white/star.svg");
}

.nav-container .nav-icon.favourites:hover {
	background-image: url("../../assets/material-redhover/star.svg");
}

.nav-container .nav-icon.bookmarks {
	background-image: url("../../assets/material-white/bookmark.svg");
}

.nav-container .nav-icon.bookmarks:hover {
	background-image: url("../../assets/material-redhover/bookmark.svg");
}

.nav-container .nav-icon.help {
	background-image: url("../../assets/material-white/help.svg");
}

.nav-container .nav-icon.help:hover {
	background-image: url("../../assets/material-redhover/help.svg");
}

.nav-container .nav-icon.logout {
	margin-bottom: 25px;
	background-image: url("../../assets/material-white/logout.svg");
}

.nav-container .nav-icon.logout:hover {
	background-image: url("../../assets/material-redhover/logout.svg");
}