@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* -------------------------------------------------------------------------- */
/* This file is for global stuff */
/* -------------------------------------------------------------------------- */

:root {
	--col-main: #240858;
	--col-main-light: #261d46;
	--col-background: rgb(221, 221, 221);
	--col-background-dimmed: rgb(200, 200, 200);
	--col-background-dark: rgb(22, 22, 22);
	--col-background-dark-lowop: rgba(22, 22, 22, 0.8);
	--col-accent-action: #ea5b5e;
	--col-accent-action-hover: #5baaea;
	--col-accent-link: #01b1e3;
	--col-accent-extra: #f49c26;
	--col-font-light: #fff;
	--col-font-dark: #000;
	--col-font-dark-subtle: rgb(68, 68, 68);
	--col-post-background: #fff;
	--col-post-splitter: #f1f1f1;
	/* ---------------------------------------------------------------------- */
	/* CHANGE THESE in the SVGs */
	/* ---------------------------------------------------------------------- */
	--col-upvoted: #19c203;
	--col-downvoted: #e35b01;
}

* {
	padding: 0;
	margin: 0;
	scrollbar-color: #646464 #C2D2E4;
}

*::-webkit-scrollbar {
	width: 10px;
	background-color: #c0c2c4;
}

*::-webkit-scrollbar-track-piece {
	background-color: #c0c2c4;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb:vertical {
	background-color: #646464;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

*,
*:focus,
*:hover {
	outline: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", "Segoe UI", Tahoma, sans-serif;
	/* Don't know which font smoothing is correct for what; these are
	the react defaults */
	/* -webkit-font-smoothing: antialiased; */
	/* -moz-osx-font-smoothing: grayscale; */
}

/* -------------------------------------------------------------------------- */
/* SECTION Fonts */
/* -------------------------------------------------------------------------- */
.font-title {
	color: fuchsia;
	/* TODO: Add backup fonts */
	font-family: "Bebas Neue", cursive;
}

.font-body-regular {
	/* TODO: Add backup fonts */
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}

.font-code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-light {
	color: var(--col-font-light);
}

.text-dark {
	color: var(--col-font-dark);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.cursor-pointer {
	cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/* !SECTION Fonts */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SECTION UI Elements */
/* -------------------------------------------------------------------------- */

.vertical-splitter {
	width: 100%;
	/* border-top: 3px solid #bbb;	 */
	border-top: 3px solid var(--col-accent-action);
}

/* -------------------------------------------------------------------------- */
/*  SECTION UI Elements */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SECTION Buttons */
/* -------------------------------------------------------------------------- */
.default-button {
	padding: 4px;
	border: 0px;
	margin: 2px;
	background-color: var(--col-accent-action);
	border-radius: 4px;
	color: var(--col-font-light);
	transition: 0.2s;
}

.default-button:hover {
	background-color: var(--col-accent-action-hover);
}

.admin-button {
	padding: 4px;
	border: 0px;
	margin: 2px;
	background-color: var(--col-accent-extra);
	border-radius: 4px;
	color: var(--col-font-dark);
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
	transition: 0.2s;
}

.admin-button:hover {
	background-color: var(--col-accent-action-hover);
}

/* -------------------------------------------------------------------------- */
/* !SECTION Buttons */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SECTION Extra Globals */
/* -------------------------------------------------------------------------- */

.textarea-no-resize {
	resize: none;
}

.extra-margin-top {
	margin-top: 20px;
}

/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */