.bookmarker {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-size: cover;
	cursor: pointer;
}

.bookmarker.default {
	background-image: url("../../assets/material-black/bookmark_border.svg");
}
.bookmarker.default:hover {
	background-image: url("../../assets/material-redhover/bookmark_border.svg");
}

.bookmarker.bookmarked {
	background-image: url("../../assets/material-black/bookmark.svg");
}
.bookmarker.bookmarked:hover {
	background-image: url("../../assets/material-redhover/bookmark.svg");
}
