

/* This is the ul element that contains the sub-comments
under a comment */
.comment-wrapper {
	padding-right: 0;
	padding-bottom: 0;
	/* This is the "inset" width of each sub-comment */
	padding-left: 10px;
	border-left: 3px solid var(--col-accent-extra);
	list-style-type: none;
}

/* This is the li element that is used for each separate comment */
.comment-container {
	/* padding-left: 10px; */
	/* border-left: 3px solid var(--col-accent-extra); */
	list-style-type: none;
}

/* This is the inner portion of each comment, this holds the actual stuff*/
.comment-container-inner {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	/* Margin is just for some non-dimmed spacing between each comment */
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	/* padding-left: 10px; */
	background-color: var(--col-background-dimmed);
}

.comment-top-bar {
	display: flex;
	flex-direction: row;
}

/* User profile pictures in the comments */
.comment-pfp-image {
	width: 50px;
	height: auto;
}

/* Comment username */
.comment-username {
	margin-right: 40px;
	margin-left: 10px;
	color: var(--col-font-dark);
}

/* Comment username when it is deleted */
.comment-username.deleted {
	color: var(--col-font-dark-subtle);
}

.comment-date {
	margin-right: 20px;
}

/* Comment text */
.comment-text {
	margin-top: 20px;
	margin-bottom: 10px;
	color: var(--col-font-dark);
}

/* Comment text when it is deleted */
.comment-text.deleted {
	color: var(--col-font-dark-subtle);
}

.comment-buttons {
}
/* Button to add comments to any comment */
.comment-add-child {

}