.favouritiser-icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("../../assets/material-black/star-outline.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.favouritiser-icon:hover {
	background-image: url("../../assets/material-redhover/star-outline.svg");
}

.favouritiser-icon.favourited {
	background-image: url("../../assets/material-black/star.svg");
}

.favouritiser-icon.favourited:hover {
	background-image: url("../../assets/material-redhover/star.svg");
}