.feedhub-container {
	display: grid;
	height: auto;
	/* Make sure this height is always 100vh so that it spans the entire screen vertically*/
	height: 100vh;
	/* This spaces the container from the left so that the first grid is spaced from the nav */
	/* margin-left: 15px; */
	padding-left: 15px;
	/* This becomes the feed container, which is the actual element that holds
	the feeds */
	grid-area: feed-container;
	/* Force overflowing grid elements to remain as columns.
	Need to re-apply the size here */
	grid-auto-columns: 450px;
	grid-auto-flow: column;
	grid-gap: 15px;
	/* This essentially allows us to have a dynamic amount of feeds,
	width them all being 30% width */
	grid-template-columns: repeat(auto-fill, 450px);
	/* This allows scrolling */
	overflow-y: scroll;
}
