
.feed-container {
	/* Reduce the height so there's some space between top/bottom, and center vertically */
	height: 96%;
	margin-top: auto;
	margin-bottom: auto;
	background-color: var(--col-background);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	/* box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12); */
	color: rgb(240, 240, 240);
	overflow-wrap: break-word;
	overflow-y: hidden;
	/* Make each grid have a scroll bar instead of making the whole page long */
	text-align: center;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* .feed-container:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
} */

.feed-inner-content {
	/* The inner content has to be offset for the top-bar height */
	height: calc(100% - 100px);
	overflow-y: scroll;
}

/* Make the top bar of the feed grid be sticky at the top */
.grid-top-bar-container {
	position: sticky;
	top: 0;
	width: 100%;
	height: 100px;
	/* margin-bottom: 25px; */
	background-color: var(--col-main);
}

.grid-top-bar {
	display: flex;
	width: 100%;
	/* min-height: 100%; */
	height: 100%;
	/* height: 100px; */
	flex-direction: row;
	/* This makes the items in the row center vertically.
	This does not "center" the dropdown because that uses
	position absolute */
	align-items: center;
	justify-content: space-around;
}

.icon-button {
	/* display: inline-block; */
	width: 50px;
	height: 50px;
	background-size: cover;
	cursor: pointer;
}
.icon-button.grid-close{
	background-image: url("../../assets/material-white/exit-button.svg");
}

.icon-button.grid-close:hover{
	background-image: url("../../assets/material-redhover/exit-button.svg");
}

.icon-button.grid-move-left{
	background-image: url("../../assets/material-white/left.svg");
}

.icon-button.grid-move-left:hover{
	background-image: url("../../assets/material-redhover/left.svg");
}

.icon-button.grid-move-right{
	background-image: url("../../assets/material-white/right.svg");
}

.icon-button.grid-move-right:hover{
	background-image: url("../../assets/material-redhover/right.svg");
}

/*
This acts as the container for
- combosearch-text
- combosearch-option-container
*/
.combosearch-container {
	/* This does some magic... I can't explain it, but
	it makes the combosearch-option-container fit properly */
	position: relative;
	border: none;
	color: black;
}

.combosearch-text {
	min-width: 00px;
	min-height: 40px;
}

/* This is the container for the feeds under the "search" filter.
The max height set here is basically the max height before a scroll bar
is needed */
.combosearch-option-container {
	position: absolute;
	display: block;
	width: 100%;
	height: auto;
	/* display: block; */
	max-height: 0vh;
	border: none;
	background-color: #f6f6f6;
	overflow-y: scroll;
	transition: 0.2s;

}

/* We can style the options in the dropdown here */
.combosearch-option-container > option.actual {
	padding: 12px 16px;
	/* color: black; */
	/* text-decoration: none; */
	cursor: pointer;
}

.combosearch-option-container > option.actual:hover {
	padding: 12px 16px;
	/* color: black; */
	/* text-decoration: none; */
	color: var(--col-accent-link);
}

.combosearch-option-container > option.description {
	padding: 12px 16px;
	cursor: default;
	font-weight: 600;
}

.combosearch-replacement-text {
	margin-bottom: 0;
}