.post-lightbox-wrapper {
	position: fixed; /* Stay in place */
	z-index: 3;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 22, 22, 0.8);
	/* We make the container appear clickable, but we also make the inner elements
	appear with the default cursor, so the result is making the background appear clickable. */
	cursor: pointer;
	overflow-y: scroll;
}

.post-lightbox-container {
	width: 80%;
	margin-top: 50px;
	/* Vertically center */
	margin-right: auto;
	margin-left: auto;
	background-color: var(--col-background);
}



/* -------------------------------------------------------------------------- */
/* SECTION Top sticky banner */
/* -------------------------------------------------------------------------- */
.post-lightbox-banner {
	position: sticky;
	top: 0;
	display: flex;
	height: 50px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: var(--col-main);
	color: white;
	cursor: default;
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Autho */
/* -------------------------------------------------------------------------- */
.post-lightbox-author {
	position: sticky;

	top: 50px;
	padding: 10px;
	border: 2px solid var(--col-main);
	background-color: var(--col-background);
}

.post-lightbox-author > .author-top-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Main */
/* -------------------------------------------------------------------------- */
.post-lightbox-main {
	padding: 20px;
	padding-bottom: 50px;
	border: 2px solid var(--col-main);
	/* We don't want all of the content to appear clickable. See .post-lightbox's cursor pointer comment */
	cursor: default;
}



/* -------------------------------------------------------------------------- */
/* SECTION Source bar */
/* -------------------------------------------------------------------------- */
.post-lightbox-main .source-bar-container {
	display: grid;
	width: 100%;
	/* Breathing room is nice */
	margin-bottom: 16px;
	grid-template-columns: [source-name] 70% [source-btns] 30%;
}

.post-lightbox-main .source-bar-container > .source-bar-left {
	display: flex;
	align-items: center;
	grid-area: source-name;
}

.post-lightbox-main .source-bar-container .source-name {
	/* There was a margin on the text which was making the image not aligned vertically*/
	margin-bottom: 0;
	/* Also add some breathing room from the favourite star */
	margin-left: 20px;
}

.post-lightbox-main .source-bar-container > .source-bar-right {
	/* Align the stuff on the right to the right */
	margin-right: 0;
	margin-left: auto;
	grid-area: source-btns;
}

.post-lightbox-main .source-bar-container > .source-bar-right > .copy-link {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 10px;
	background-image: url("../../assets/material-black/content-copy.svg");
	background-size: cover;
	cursor: pointer;
}

.post-lightbox-main .source-bar-container > .source-bar-right > .copy-link:hover {
	background-image: url("../../assets/material-redhover/content-copy.svg");
	background-size: cover;
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */


.post-lightbox-main .view-orig-article {
	color: var(--col-accent-action);
	cursor: pointer;
}
.post-lightbox-main .view-orig-article:hover {
	color: var(--col-accent-action-hover);
	cursor: pointer;
}


/* -------------------------------------------------------------------------- */
/* SECTION Bottom bar */
/* -------------------------------------------------------------------------- */
/* This just makes the bottom elements display in a row */
.post-lightbox-main .bottom-bar {
	display: grid;
	width: 100px;
	/* This spaces as: total votes -> upvote button (2x width) -> downvote button (2x width) */
	grid-template-areas: "votecount votebuttonup votebuttonup votebuttondown votebuttondown"
	"votecount votebuttonup votebuttonup votebuttondown votebuttondown"
}

.post-lightbox-main .bottom-bar > .total-votes {
	margin-top: auto;
	margin-bottom: auto;
	grid-area: votecount;
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/* SECTION Comments */
/* -------------------------------------------------------------------------- */
.post-lightbox-comments {
	padding-top: 20px;
	/* We don't want all of the content to appear clickable. See .post-lightbox's cursor pointer comment */
	cursor: default;
	
	/* max-height: 300px; */
	overflow-y: scroll;
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */
