.feed-post-item {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	/* margin: 0 auto; */
	border-bottom: 3px solid var(--col-post-splitter);
	/* box-shadow: inset 0 0 10px #0f0; */
	background-color: #fff;
	color: var(--col-font-dark);
	text-align: left;
	/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
}

/* GIve a margin to everything inside the item */
.feed-post-item > .inner-margin {
	margin-right: 20px;
	margin-left: 20px;
}

/* -------------------------------------------------------------------------- */
/* SECTION Source bar */
/* -------------------------------------------------------------------------- */
.feed-post-item .source-bar-container {
	display: grid;
	width: 100%;
	/* Breathing room is nice */
	margin-bottom: 16px;
	grid-template-columns: [source-name] 70% [source-btns] 30%;
}

.feed-post-item .source-bar-container > .source-bar-left {
	grid-area: source-name;
}
.feed-post-item .source-bar-container > .source-bar-right {
	/* Align the stuff on the right to the right */
	margin-right: 0;
	margin-left: auto;
	grid-area: source-btns;
}

.feed-post-item .source-bar-container > .source-bar-right > .copy-link {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin-right: 10px;
	background-image: url("../../assets/material-black/content-copy.svg");
	background-size: cover;
	cursor: pointer;
}

.feed-post-item .source-bar-container > .source-bar-right > .copy-link:hover {
	background-image: url("../../assets/material-redhover/content-copy.svg");
	background-size: cover;
}
/* -------------------------------------------------------------------------- */
/* !SECTION */
/* -------------------------------------------------------------------------- */


/* This is for the content of the post item, making it appear clickable */
.feed-post-item-content {
	background-color: #fff;
	cursor: pointer;

}
.feed-post-item-content:hover {
	background-color: #f1f1f1;
}

.feed-post-item-content > p {
	/* text-align: justify; */
	/* text-justify: inter-word; */
}

/* This just makes the bottom elements display in a row */
.feed-post-item .bottom-bar {
	display: grid;
	width: 100px;
	/* This spaces as: total votes -> upvote button (2x width) -> downvote button (2x width) */
	grid-template-areas: "votecount votebuttonup votebuttonup votebuttondown votebuttondown"
	"votecount votebuttonup votebuttonup votebuttondown votebuttondown"
}

.feed-post-item .bottom-bar > .total-votes {
	margin-top: auto;
	margin-bottom: auto;
	grid-area: votecount;
}