
/* -------------------------------------------------------------------------- */
/* Default states */
/* -------------------------------------------------------------------------- */
.votebuttonup {
	background-image: url("../../assets/material-black/north.svg");
	background-repeat: no-repeat;
	cursor: pointer;
	/* width: 36px; */
	grid-area: votebuttonup;
}
.votebuttonup:hover {
	background-image: url("../../assets/material-redhover/north.svg");
}

.votebuttondown {
	background-image: url("../../assets/material-black/south.svg");
	background-repeat: no-repeat;
	cursor: pointer;
	/* width: 36px; */
	grid-area: votebuttondown;
}
.votebuttondown:hover {
	background-image: url("../../assets/material-redhover/south.svg");
}


/* -------------------------------------------------------------------------- */
/* When upvoted */
/* -------------------------------------------------------------------------- */
.votebuttonup.upvoted {
	background-image: url("../../assets/material-black/north-upvoted.svg");
}
.votebuttonup.upvoted:hover {
	background-image: url("../../assets/material-redhover/north.svg");
}


/* -------------------------------------------------------------------------- */
/* When downvoted */
/* -------------------------------------------------------------------------- */
.votebuttondown.downvoted {
	background-image: url("../../assets/material-black/south-downvoted.svg");
}
.votebuttondown.downvoted:hover {
	background-image: url("../../assets/material-redhover/south.svg");
}
